<div class="form">
  <%= form_for(@menu, :remote => true, :html => {'@submit' => 'createPage'}) do |f| %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form__field form__field--large' %>
    <div class="submitField"><%= f.submit class: 'btn btn--large' %></div>
  <% end %>
</div>
