<div class="column column--<%= column.size %>" data-column-id="<%= column.id %>">
  <% unless @components.where(:column_id => column.id).blank? %>
    <div id="components">
      <% @components.where(:column_id => column.id).each do |component| %>
        <%= render component %>
      <% end %>
    </div>
  <% end %>
</div>
