<div class="editHandle">
  <a href="#" class="editHandleAction">Edit</a>
  <a data-confirm="Are you sure?" class="editHandleAction editHandleActionDanger" data-remote="true" rel="nofollow" data-method="delete" v-bind:href="'/columns/' + column.id" v-on:click="updatePage('Column Deleted')">Delete</a>
</div>
