<div class="block" data-block-id="<%= block.id %>">
  <div class="columns-list">
    <% @columns.where(:block_id => block.id).each do |column| %>
      <%= render column %>
    <% end %>
  </div>
</div>
