<article v-if="currentPage" v-for="page in currentPageData" class="page" v-bind:data-page="page.id">
  <h1>{{ page.title }}</h1>

  <section v-for="block in page.blocks" class="block">
    <section v-for="column in block.columns" class="column" v-bind:class="'column--' + column.size">
      <div v-for="component in column.components" class="component">
        <div v-for="(value, key) in component.content">
          {{ value }}
        </div>
        {{ component.content }}
      </div>
    </section>
  </section>

  <%= form_for(@block, :remote => true, :html => {'@submit' => 'addBlock'}) do |f| %>
    <input type="hidden" name="block[page_id]" id="block_page_id" :value="page.id"> <!-- Temp solution, would like to use Rails input instead -->
    <%= f.submit class: 'btn btn--large' %>
  <% end %>

</article>
