<article v-if="currentPage" v-for="page in currentPageData" class="page" v-bind:data-page="page.id">
  <h1>{{ page.title }}</h1>

  <draggable v-on:end="onUpdateOfBlockDrag" class="sortable-list">
    <section v-for="block in page.blocks" v-bind:data-block-id="block.id" class="block">
      <section v-for="column in block.columns" class="column" v-bind:class="'column--' + column.size">
        <div v-for="component in column.components" class="component">
          <div v-for="(value, key) in component.content">
            {{ value }}
          </div>
        </div>

        <%= render 'components/new-component' %>
      </section>

      <%= render 'columns/new-column' %>

    </section>
  </draggable>

  <%= render 'blocks/new-block' %>

</article>
