<article v-if="currentPage" v-for="page in currentPageData" class="page" v-bind:data-page="page.id">
  <h1>{{ page.title }}</h1>

  <section v-for="block in page.blocks" class="block">
    <section v-for="column in block.columns" class="column" v-bind:class="'column--' + column.size">
      <div v-for="component in column.components" class="component">
        <div v-for="(value, key) in component.content">
          {{ value }}
        </div>
        {{ component.content }}
      </div>

      <%= render 'components/new-component' %>
    </section>

    <%= render 'columns/new-column' %>

  </section>

  <%= render 'blocks/new-block' %>

</article>
