<%= render 'pages/modal-new' %>


<div class="app app--loading">

  <div class="leftMenu">
    <div class="LoggedUser">
      <div class="overlay"></div>
      <div class="infoUser">
        <div class="userImage" style="background:url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1017px-Starbucks_Corporation_Logo_2011.svg.png) center; background-size:cover;"></div>
        <span class="userName">Starbucks</span>
      </div>
    </div>
    <ul>
      <li v-for="page in pages" class="menu__item">
        <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
      </li>
      <li @click="toggleMenu">
        <a id="show-modal" class="button" @click="showModal = true">New Page</a>
      </li>
    </ul>
  </div>
  <div class="topMenu"></div>

  <!-- <a class="menu-trigger" @click="toggleMenu">&equiv;</a>

  <ul class="menu" v-if="menuVisible" v-bind:class="{ 'menu--is-active': menuVisible }">
    <li v-for="page in pages" class="menu__item">
      <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
    </li>
    <li @click="toggleMenu">
      <a id="show-modal" class="button" @click="showModal = true">New Page</a>
    </li>
  </ul> -->

  <div class="board">

    <div class="workPage">
      <h1>{{title}}</h1>
      <%= render 'pages/page' %>
    </div>

    <message v-if="flashMessage" v-bind:content="flashMessage"></message>
  </div>


  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>
</div>
