<%= render 'modal-new' %>

<div class="app app--loading">

  <%= render 'layouts/menu-top' %>

  <%= render 'layouts/menu-left' %>

  <div class="board">
    <loader></loader>
    <%= render 'pages/page' %>
    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>

  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>

</div>

<template id="loader">
  <div class="loader">
    <div class="circleBackground"></div>
    <svg class="circleLoader" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
    </svg>
  </div>
</template>
