<%= render 'pages/modal-new' %>


<div class="app app--loading">

  <div class="leftMenu">
    <div class="LoggedUser">
      <div class="overlay"></div>
      <div class="infoUser">
        <div class="userImage" style="background:url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1017px-Starbucks_Corporation_Logo_2011.svg.png) center; background-size:cover;"></div>
        <span class="userName">Starbucks</span>
      </div>
    </div>
    <div class="tabs">
      <span v-on:click="tabClick('pages')" class="tabTitle" v-bind:class="{ active : currentTab === 'pages' }">Pages</span>
      <span v-on:click="tabClick('components')" class="tabTitle" v-bind:class="{ active : currentTab === 'components' }">Components</span>
      <div v-if="currentTab === 'pages'" class="tab Pages">
        <ul>
          <li v-for="page in pages" class="menu__item">
            <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
          </li>
          <li>
            <a id="show-modal" class="button" @click="showModal = true">New Page</a>
          </li>
        </ul>
      </div>
      <div v-if="currentTab === 'components'" class="tab Comp">
        <div class="compGroup">
          <span class="title">Opmaak</span>
          <div class="comp">Title</div>
          <div class="comp">Text</div>
          <div class="comp">Button</div>
        </div>
        <div class="compGroup">
          <span class="title">Video components</span>
          <div class="comp">Video</div>
          <div class="comp">Youtube</div>
          <div class="comp">Vimeo</div>
          <div class="comp">Brightcove</div>
        </div>
        <div class="compGroup">
          <span class="title">Iets anders</span>
          <div class="comp">Column control</div>
          <div class="comp">Templated Section</div>
        </div>
      </div>
    </div>
  </div>
  <div class="topMenu"></div>

  <!-- <a class="menu-trigger" @click="toggleMenu">&equiv;</a>

  <ul class="menu" v-if="menuVisible" v-bind:class="{ 'menu--is-active': menuVisible }">
    <li v-for="page in pages" class="menu__item">
      <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
    </li>
    <li>
      <a id="show-modal" class="button" @click="showModal = true">New Page</a>
    </li>
  </ul> -->

  <div class="board">

    <%= render 'pages/page' %>

    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>


  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>
</div>
