<%= render 'pages/modal-new' %>


<div class="app app--loading">
  <a class="menu-trigger" @click="toggleMenu">&equiv;</a>

  <ul class="menu" v-if="menuVisible" v-bind:class="{ 'menu--is-active': menuVisible }">
    <li v-for="page in pages" class="menu__item">
      <a class="menu__link" @click="currentPage = page.id">{{ page.title }}</a>
    </li>
    <li @click="toggleMenu">
      <a id="show-modal" class="button" @click="showModal = true">New Page</a>
    </li>
  </ul>

  <div class="board">
    <h1>{{ message }}</h1>

    <%= render 'pages/page' %>
  </div>


  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>
</div>
