<%= render 'modal-new' %>

<div class="app app--loading">

  <%= render 'layouts/menu-top' %>

  <%= render 'layouts/menu-left' %>

  <div class="board" v-bind:class="{expand : !menuVisible}">
    <%= render 'pages/page' %>
    <alert v-if="flashMessage" v-bind:content="flashMessage"></alert>
  </div>

  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">custom header</h3>
  </modal>
</div>
