.editHandle {
  position: absolute;
  top: 0;
  right: -3px;
  display: none;
  flex-direction: row;
  transform: translateY(-100%);
}

.editHandleAction {
  display: block;
  background: map-get($color, material-color);
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin-left: auto;
}

.editHandleActionDanger {
  background: map-get($color, material-error);
}

.column {
  &:hover {
    box-shadow: 0 0 0 3px map-get($color, material-color);

    .editHandle {
      display: flex;
    }
  }
}

.component:hover {

}

.blockDragMarker {
  text-align: center;
  transition: height 300ms, margin 300ms;
}

.isDragStateActive .blockDragMarker {
  height: 100%;
  border: 3px dashed #e7e7e7;
  margin: 5px 0;
}

.new_column {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
}
