@keyframes flyInAlert {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flyOutAlert {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
  }
}

@keyframes shakeAlert {
  0%{
    transform: translateX(0px);
  }
  15%{
    transform: translateX(-10px);
  }
  30%{
    transform: translateX(10px);
  }
  45%{
    transform: translateX(-10px);
  }
  60%{
    transform: translateX(10px);
  }
  75%{
    transform: translateX(-10px);
  }
  90%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}

.alert {
  position: fixed;
  z-index: 50;
  right: 20px;
  bottom: 20px;
  animation: flyInAlert 500ms forwards;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  h3{
    padding: 17px 25px;
    color: map-get($color, colorWhite);
    font-weight: 500;
    font-size: 20px;
    background: map-get($color, material-color);
  }
  span{
    padding: 0px 25px 25px;
    color: map-get($color, colorWhite);
    background: map-get($color, material-color);
    font-weight: 500;
    display: block;
    font-size: 15px;
    height: 100px;
  }
}

.alertDanger {
  background: map-get($color, material-error);
  color: #fff;
}

.alert--is-flying-out {
  animation: flyOutAlert 500ms forwards;
}

.errorInput{
  border:1px solid map-get($color, material-error) !important;
  transform: translateX(0px);
  animation: shakeAlert 500ms forwards linear;
}
