@keyframes moveInBlock {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.block {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  padding: 20px 0;
  border-top: 1px solid #d7d7d7;
  position: relative;
  overflow: hidden;
  animation: moveInBlock 500ms forwards;
}

.block:first-child {
  border-top: 0;
}
