@keyframes moveInColumn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.column {
  flex-grow: 0;
  min-height: 20px;
  position: relative;
  animation: moveInColumn 500ms forwards;
  padding: 0 15px;
  border-right: 1px solid #d7d7d7;
}

@for $i from 1 through 12 {
  .column--#{$i} {
     width: ((100% / 12) * $i);
     min-width: ((100% / 12) * $i);
  }
}

.column:first-of-type {
  padding-left: 0;
}

.column:last-of-type {
  padding-right: 0;
  border-right: 0;
}

.columns-list {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.new_column {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: none;
}

.block:hover .new_column {
  display: block;
}
