@keyframes moveInColumn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.column {
  border: 2px solid #999;
  flex-grow: 0;
  min-height: 50px;
  position: relative;
  animation: moveInColumn 500ms forwards;
}

@for $i from 1 through 12 {
  .column--#{$i} {
     width: ((100% / 12) * $i);
     min-width: ((100% / 12) * $i);
  }
}

.new_column {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
