::selection {
  background: map-get($color, amber500);
  color:map-get($color, colorWhite);
}
::-moz-selection {
  background: map-get($color, amber500);
  color:map-get($color, colorWhite);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background:map-get($color, background-color);
}

.board {
  position: fixed;
  z-index: 1;
  top:70px;
  left:300px;
  width: calc(100% - 300px);
  height: calc(100% - 70px);
  overflow: auto;
  transition: left 0.5s ease, width 0.5s ease;

  &.expand{
    left:0;
    width: 100%;
  }
}

.sortable-list {
  min-height: 20px;
}

.sortable-list:empty::before {
  display: block;
  content: 'Drag stuff in me.';
  color: #d7d7d7;
  font-style: italic;
}

h1{
  color: map-get($color, colorWhite);
  font-weight: 300;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
h2{
  color: map-get($color, colorWhite);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
a{
  color: map-get($color, amber500);
}
strong{
  font-weight: 600;
}
