@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes googleLoader {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  } 50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  } 100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.loader {
  position: absolute;
  background: map-get($color, background-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
  transition: opacity 300ms ease;

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: googleLoader 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
}

.loader-enter,
.loader-leave {
  opacity: 0;
  transition-delay: 0;
}

.loader-enter-active {
  .circleBackground {

  }
}

.loader-leave-active {
  transition-delay: 1300ms;

  .circleLoader{
    width: 30px;
    transition: width 300ms ease;
  }

  .circleBackground {
    width: 2000px;
    height: 2000px;
    transition: all 1300ms ease;
  }
}

.loader-leave-to {
  transition-delay: 0;

  .circleBackground {
    transition-delay: 0;
  }
}

.circleBackground {
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  background: map-get($color, amber500);
  transition: width 0ms 300ms ease, height 0ms 300ms ease;
}

.circleLoader {
  animation: rotate 2s linear infinite;
  height: 100px;
  transform-origin: center center;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  stroke: map-get($color, blue500);
}
