.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: map-get($color, blue500);

  h2 {
    margin-bottom: 50px;
    margin-top: 13px;
    width: 100%;
  }

  .background {
    position: absolute;
    background: image-url('bg-login.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0.08;
  }

  .loginWrapper {
    position: relative;
    z-index: 2;
    max-width: 650px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.forgotPassword {

      .password_field {
        overflow: hidden;
        height:0px;
        transform: translateY(25px);
      }

      .btn {
        opacity: 0;

        &.resend {
          opacity: 1;
        }
      }

      .backToLogin {
        opacity: 1;
        visibility: visible;
      }

      .forgotPassword {
        opacity: 0;
        visibility: hidden;
      }

      .title {
        opacity: 0;
        visibility: hidden;
      }

      .passwordTitle {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .title {
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
  }

  .passwordTitle{
    margin-top: -135px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
  }

  form{
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
    background: map-get($color, colorWhite);
    padding: 35px 30px 25px;

    .password_field {
      height: 60px;
      transform: scale(1) translateY(0px);
      transition: transform 0.4s ease, height 0.4s ease;
    }

    .backToLogin {
      display: block;
      font-size: 15px;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      margin-top: -32px;
      margin-bottom: 14px;
      transition: all 300ms ease;
    }

    .forgotPassword {
      margin-top: 14px;
      margin-bottom: 14px;
      display: inline-block;
      opacity: 1;
      visibility: visible;
      transition: all 300ms ease;
    }

    .loginLink {
      color: map-get($color, blue500);
      font-weight: 400;
      cursor: pointer;
      font-size: 15px;
    }
  }
}

.loginHeader {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  height: 65px;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: 500;
    font-size:15px;
    color: map-get($color, colorWhite);

    &.account{
      font-weight: 300;

      a {
        color: map-get($color, colorWhite);
        text-decoration: none;
        border: 1px solid map-get($color, colorWhite);
        border-radius: 2px;
        padding: 8px 20px;
        margin-left: 15px;
        font-weight: 500;
      }
    }
  }
}
