@keyframes slideInMenu {
  from {
    transform: translateX(-200px);
  } to {
    transform: translateX(0);
  }
}

.menuEdit {
  position: fixed;
  z-index: 2;
  background: map-get($color, colorWhite);
  bottom: 0;
  left: 0;
  width: calc(300px + #{map-get($pixel, rectangleHeight)});
  height: calc(100% - #{map-get($pixel, rectangleHeight)});
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;

  .menu {
    width: map-get($pixel, rectangleHeight);
    height: 100%;
    position: relative;
    float: left;
    background: map-get($color, colorWhite);
    border-right:1px solid darken(map-get($color, colorWhite), 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;

      &.bottom {
        li {
          border-top: 1px solid darken(map-get($color, colorWhite), 8%);
          border-bottom:0;
        }
      }
    }

    li {
      width: map-get($pixel, rectangleHeight);
      height: map-get($pixel, rectangleHeight);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid darken(map-get($color, colorWhite), 8%);
      cursor: pointer;
      transition: background 300ms ease;

      &:hover, &.active{
        background: darken(map-get($color, colorWhite), 3%);
      }
    }

    i {
      font-size: 28px;
      color: map-get($color, dark-grey);
    }
  }

  .edit {
    width:300px;
    height: 100%;
    float:left;
    position: relative;
  }

  h2 {
    color: map-get($color, material-color);
    font-size: 26px;
    padding-bottom: 19px;
    border-bottom: 1px solid darken(map-get($color, colorWhite), 8%);
    width: 100%;
    display: block;
    padding: 18px 25px;
    height: map-get($pixel, rectangleHeight);
  }
}

.menuList {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  > .menuItem{
    position: relative;
    margin-bottom: 20px;

    &:last-of-type{
      margin-bottom: 0px;
    }
  }

  h3 {
    font-weight: 500;
    padding: 0 23px;

    &:before{
      content: "";
      width: 3px;
      height: calc(100% - 27px);
      background:map-get($color, material-color);
      position: absolute;
      top: 14px;
      left: 2px;
    }

    &:after{
      content: "";
      width: 9px;
      height: 9px;
      position: absolute;
      left: -1px;
      top: 6px;
      background:map-get($color, material-color);
      border-radius: 100%;
    }
  }

  ul {
    margin-top: 10px;
    list-style-type: none;

    li {
      list-style-type: none;
    }
  }
}

.componentList{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  border: 1px solid darken(map-get($color, colorWhite), 8%);
  margin-bottom: 20px;
  &:last-of-type{
    margin-bottom: 0;
  }
  ul{
    list-style-type: none;
    margin:0px;
    padding:20px 20px 10px;
    li{
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      border: 1px solid darken(map-get($color, colorWhite), 8%);
      background: map-get($color, colorWhite);
      cursor: pointer;
      a{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        padding: 0 10px;
        font-size: 15px;
      }
    }
    .icon{
      display: inline-block;
      width: 50px;
    }
    i{
      width:50px;
      height:50px;
      background: map-get($color, material-color);
      color: map-get($color, colorWhite);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  h3{
    border-bottom: 1px solid darken(map-get($color, colorWhite), 8%);
    padding: 13px 20px;
    font-weight: 500;
  }
}

a.menuLink {
  padding: 5px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 21px;
  transition: color 300ms ease;

  &:hover,
  .isActive & {
    color: map-get($color, material-color);
  }

  &:before {
    content: "";
    position: absolute;
    left: -36px;
    top: 15px;
    width: 20px;
    height: 3px;
    background: linear-gradient(to right, map-get($color, material-color) 0%, darken(map-get($color, light-grey), 13%) 55%);
  }

  &:after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: -18px;
    top: 12px;
    border-radius: 100%;
    background: map-get($color, colorWhite);
    border: 2px solid darken(map-get($color, light-grey), 13%);
    transition: background 300ms ease;

    .isActive & {
      background: darken(map-get($color, light-grey), 13%);
    }
  }
}

.menuUsers {
  position:fixed;
  z-index: 20;
  background: map-get($color, material-color);
  top: 0;
  right: 0;
  color: map-get($color, colorWhite);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  height: map-get($pixel, rectangleHeight);
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.menuAdmin{
    border-bottom: 0px;
    padding: 0 23px 0 0;
  }

  .userContent{
    display: flex;
    align-items: center;
  }

  .userImage{
    width: map-get($pixel, rectangleHeight);
    height: map-get($pixel, rectangleHeight);
    float:left;
    margin-right: 26px;
  }

  span {
    font-weight: 500;
    font-size:15px;
    color: map-get($color, colorWhite);

    &.account {
      font-weight: 300;
    }

    a {
      color: map-get($color, colorWhite);
      text-decoration: none;
      border: 1px solid map-get($color, colorWhite);
      border-radius: 2px;
      padding: 8px 20px;
      margin-left: 15px;
      font-weight: 500;
    }
  }
}
