@keyframes slideInMenu {
  from {
    transform: translateX(-200px);
  } to {
    transform: translateX(0);
  }
}

.menuEdit {
  position: fixed;
  z-index: 2;
  background: map-get($color, colorWhite);
  bottom: 0;
  left: 0;
  width: 370px;
  height: calc(100% - 65px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;

  .menu {
    width: 70px;
    height: 100%;
    position: relative;
    float: left;
    background: map-get($color, colorWhite);
    border-right:1px solid darken(map-get($color, colorWhite), 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;

      &.bottom {
        li {
          border-top: 1px solid darken(map-get($color, colorWhite), 8%);
          border-bottom:0;
        }
      }
    }

    li {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid darken(map-get($color, colorWhite), 8%);
      cursor: pointer;
    }

    i {
      font-size: 28px;
      color: map-get($color, dark-grey);
    }
  }

  .edit {
    width:300px;
    height: 100%;
    float:left;
    position: relative;
  }

  h2 {
    color: map-get($color, blue500);
    font-size: 30px;
    padding-bottom: 19px;
    border-bottom: 1px solid darken(map-get($color, colorWhite), 8%);
    width: 100%;
    display: block;
  }

  .menuList {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 20px;

    > .menuItem{
      position: relative;
      margin-bottom: 20px;
    }

    h3 {
      font-weight: 500;
      padding: 0 23px;

      &:before{
        content: "";
        width: 3px;
        height: calc(100% - 26px);
        background:map-get($color, blue500);
        position: absolute;
        top: 14px;
        left: 2px;
      }

      &:after{
        content: "";
        width: 9px;
        height: 9px;
        position: absolute;
        left: -1px;
        top: 6px;
        background:map-get($color, blue500);
        border-radius: 100%;
      }
    }

    ul {
      margin-top: 10px;
      list-style-type: none;

      li {
        list-style-type: none;
      }
    }
    a.menuLink {
      padding: 5px 0;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: all 300ms ease;

      &:hover{
        color: map-get($color, blue500);
      }

      &:before {
        content: "";
        position: absolute;
        left: -36px;
        top: 15px;
        width: 20px;
        height: 3px;
        background: map-get($color, blue500);
      }

      &:after {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        left: -18px;
        top: 12px;
        border-radius: 100%;
        background: map-get($color, colorWhite);
        border: 2px solid map-get($color, blue500);
      }
    }
  }
}

.menuUsers {
  position:fixed;
  z-index: 20;
  background: map-get($color, blue500);
  top: 0;
  right: 0;
  color: map-get($color, colorWhite);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  height: 65px;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.menuAdmin{
    border-bottom: 1px solid map-get($color, blue500);
  }

  span {
    font-weight: 500;
    font-size:15px;
    color: map-get($color, colorWhite);

    &.account {
      font-weight: 300;
    }

    a {
      color: map-get($color, colorWhite);
      text-decoration: none;
      border: 1px solid map-get($color, colorWhite);
      border-radius: 2px;
      padding: 8px 20px;
      margin-left: 15px;
      font-weight: 500;
    }
  }
}
