@keyframes slideInMenu {
  from {
    transform: translateX(-200px);
  } to {
    transform: translateX(0);
  }
}

@keyframes slideInMenuItem {
  from {
    opacity: 0;
    transform: translateX(-20px);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu {
  padding: 60px 10px 10px;
  background: #222;
  margin: 0;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 500ms;
  animation: slideInMenu 500ms;

  &--is-active {
    transform: translateX(0);
  }
}

.menu__item {
  list-style: none;
  padding: 2px 0;
  animation: slideInMenuItem 300ms forwards;
}

.menu__link {
  color: #f1f1f1;
  cursor: pointer;
}

.menu-trigger {
  font-size: 32px;
  color: #fff;
  background: #222;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 150;
  cursor: pointer;
}
