.modal__mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .40);
  transition: opacity .3s ease;
}

.modal__container {
  position: absolute;
  top:0;
  left:0;
  width: 400px;
  height: 500px;
  background-color: map-get($color, colorWhite);
  box-shadow: 0 0px 10px rgba(0, 0, 0, .25);
  transition: opacity .3s ease;
  &:before{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid map-get($color, colorWhite);
  }
}

.modal__header{
  width: 100%;
  max-width: 400px;
  margin-top: 0;
  color: map-get($color, colorWhite);
  height: 65px;
  padding:0 25px;
  display: block;
  background: map-get($color, material-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3, i {
    margin:0px;
    font-weight: 500;
    font-size: 15px;
  }
  i{
    cursor: pointer;
    font-size:23px;
  }
}

.modal__body {
  padding: 25px;
  height: calc(100% - 65px);
  overflow: auto;

  form {
    max-width: 500px;
    width: 100%;

    input, select {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid darken(map-get($color, light-grey), 6%);
      padding: 16px 20px;
      border-radius: 2px;
      font-size: 14px;
      transition: border 300ms ease;

      &:focus {
        outline: none;
        border: 1px solid map-get($color, material-color);
      }
    }

    .submitField {
      position: relative;
      margin-top: 20px;
      background: map-get($color, material-color);
      border-radius: 2px;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: 0px;
        margin-top: 0px;
        width: 0px;
        height: 0px;
        background: darken(map-get($color, material-color), 3.5%);
        z-index: 1;
        border-radius: 100%;
        opacity: 0;

        //Transition hover off
        transition: opacity 300ms ease, margin-left 0s 300ms ease, margin-top 0s 300ms ease, width 0s 300ms ease, height 0s 300ms ease;
      }

      &:hover:before {
        margin-left: -250px;
        margin-top: -250px;
        width: 500px;
        height: 500px;
        opacity: 1;

        //Transition hover on
        transition: width 600ms ease, height 600ms ease, margin-top 600ms ease, margin-left 600ms ease;
      }
    }

    .btn {
      position: relative;
      z-index: 2;
      cursor: pointer;
      padding: 15px 20px;
      color: map-get($color, colorWhite);
      font-weight: bold;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      background: none;
      opacity: 1;
      transition: opacity 300ms ease;

      &:focus {
        outline:none;
        border:0;
      }

      &.resend {
        margin-top: -46px;
        display: block;
        opacity: 0;
      }
    }
  }
}

.modal__default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
