// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  opacity: 1;
  transition: opacity 1200ms;
}

.app--loading {
  opacity: 0;
}
