// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  opacity: 1;
  transition: opacity 1200ms;

  &--loading {
    opacity: 0;
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.page {
  animation: fadeInPage 300ms;
  transition: opacity 300ms, transform 300ms;
  position: relative;
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  z-index: 1;

  &--fade-out {
    opacity: 0;
  }
}
