.tabs {
  position: relative;
  height: calc(100% - 170px);
  width: 100%;
  overflow: auto;
  animation: fadeInTab 500ms forwards;
}

.tabsTitles {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.tabTitle {
  display: block;
  width: 50%;
  padding: 20px;
  background: map-get($color, light-grey);
  color: map-get($color, dark-grey);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: 1px solid darken(map-get($color, light-grey), 6%);
  cursor: pointer;
  transition: background 0.3s ease;

  &.active {
    background: map-get($color, colorWhite);
    color: map-get($color, dark-blue);
    border: 1px solid map-get($color, colorWhite);
    cursor: auto;

    &:hover {
      background: map-get($color, colorWhite);
    }
  }

  &:hover {
    background:darken(map-get($color, light-grey), 1.5%);
  }

  &:last-of-type {
    border-right: 0;
    border-top: 0;
  }
  &:first-of-type {
    border-left: 0;
    border-top: 0;
  }
}

.tab {
  width: 100%;
  transition: opacity 500ms, transform 500ms;
  overflow: auto;
  height: 100%;
}

.tabAction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: map-get($color, colorWhite);
  border-top: 1px solid darken(map-get($color, colorWhite), 8%);
  height: map-get($pixel, rectangleHeight);
  display: flex;
  align-items: center;

  a {
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid darken(map-get($color, colorWhite), 8%);
    height: map-get($pixel, rectangleHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: background 300ms ease;
    cursor: pointer;

    &.full {
      width:100%;
    }

    &:hover {
      background: darken(map-get($color, colorWhite), 3%);
    }

    &:last-of-type {
      border-right: 0px;
    }
  }
}

.compGroup {
  width: 100%;
  margin-bottom: 20px;
  @include blueGradient();

  .comp {
    width: 100%;
    background: map-get($color, colorWhite);
    border: 1px solid darken(map-get($color, light-grey), 15%);
    border-top: 0;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    color: map-get($color, dark-blue);
    cursor: move;
  }

  .title {
    color: map-get($color, colorWhite);
    font-size: 14px;
    padding: 16px 17px;
    display: block;
  }
}

.tabswap-enter {
  opacity: 0;
}

.tabswap-enter-active {
  position: absolute;
  overflow: hidden;
  top: 0;
}

.tabswap-enter-to {
  transition-delay: 500ms;
  opacity: 1;
}

.tabswap-leave {
  opacity: 1;
}

.tabswap-leave-active {
  top: 0;
  position: absolute;
  overflow: hidden;
}

.tabswap-leave-to {
  opacity: 0;
}
