$color: (
	/*standard black white*/
	colorWhite: #fff, /*white*/
	colorBlack: #000, /*black*/

  background-color: #f7f7f7,
  light-blue: #1bbcbe,
  dark-blue: #0081b3,
  light-grey: #fcfcfc,
  dark-grey: #bebdbd,
);
// @usage map-get($color, color-primary001) will output #f48c00.
