<div class="menuUsers menuAdmin">
  <div class="userContent">
    <div class="userImage" style="background:url(https://s-media-cache-ak0.pinimg.com/736x/80/91/f9/8091f9dceb2ea55fa7b57bb7295e1824.jpg) center / cover;"></div>
    <span>Welcome: <%= current_user.name %></span>
  </div>
  <span><a href="/logout">Logout</a></span>
</div>
