<div class="menuEdit">
  <div class="menu">
    <ul>
      <li v-on:click="tabClick('pages')" v-bind:class="{ active : currentTab === 'pages' }"><i class="material-icons">menu</i></li>
      <li v-on:click="tabClick('components')" v-bind:class="{ active : currentTab === 'components' }"><i class="material-icons">view_quilt</i></li>
    </ul>
    <ul class="bottom">
      <li><i class="material-icons">slideshow</i></li>
      <li><i class="material-icons">publish</i></li>
      <li><i class="material-icons">settings</i></li>
    </ul>
  </div>
  <div class="edit">
    <transition name="tabswap">
      <div v-if="currentTab === 'pages'" class="tab">
        <h2>Page's</h2>
        <div class="tabContent">
          <ul class="menuList">
            <li v-for="menu in pages" class="menuItem">
              <h3>{{ menu.name }}</h3>
              <ul>
                <draggable v-on:end="onUpdateOfPageDrag" :options="{group:'pages'}" v-bind:data-menu-id="menu.id" class="sortable-list">
                  <li v-for="page in menu.pages" class="menuItem" v-bind:data-page-id="page.id" v-bind:class="{'isActive' : currentPage === page.id}">
                    <a class="menuLink" @click="currentPage = page.id">{{ page.title }}</a>
                    <a data-confirm="Are you sure?" class="media-item__action-link" data-remote="true" rel="nofollow" data-method="delete" v-bind:href="'/pages/' + page.id" v-on:click="reloadSidebar('Page Deleted')">Delete</a>
                  </li>
                </draggable>
              </ul>
            </li>
          </ul>
        </div>

        <div class="tabAction">
          <!-- <%= render '/menus/form' %> -->
          <a>Create Menu</a>
          <a id="show-modal" class="createPageModal" @click="showModal = 'newPage'">Create page</a>
        </div>
      </div>
    </transition>
    <transition name="tabswap">
      <div class="tab" v-if="currentTab === 'components'">
        <h2>Components</h2>
        <div class="tabContent">
          <ul class="componentList">
            <li>
              <h3>Group name</h3>
              <ul>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">text_fields</i>
                    </div>
                    <a href="#">Article</a>
                  </li>
                </draggable>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">ondemand_video</i>
                    </div>
                    <a href="#">Video player</a>
                  </li>
                </draggable>
              </ul>
            </li>
          </ul>

          <ul class="componentList">
            <li>
              <h3>Group name</h3>
              <ul>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">fingerprint</i>
                    </div>
                    <a href="#">Fingerprint</a>
                  </li>
                </draggable>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">view_carousel</i>
                    </div>
                    <a href="#">Corousel</a>
                  </li>
                </draggable>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">blur_on</i>
                    </div>
                    <a href="#">Blur</a>
                  </li>
                </draggable>
                <draggable v-on:start="globalDragState = true" v-on:end="globalDragState = false">
                  <li>
                    <div class="icon">
                      <i class="material-icons">camera</i>
                    </div>
                    <a href="#">Take picture</a>
                  </li>
                </draggable>
              </ul>
            </li>
          </ul>
        </div>
        <div class="tabAction">
          <a class="full">Upload new component</a>
        </div>
      </div>
    </transition>
  </div>
</div>
