<script type="x/template" id="modal-template">
  <transition name="modal">
    <div class="modal__mask">
      <div class="modal__wrapper">
        <div class="modal__container">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</script>
