<!DOCTYPE html>
<html>
  <head>
    <title>Absolute0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'pages/modal-new' %>


    <div class="app app--loading">
      <h1>{{ message }}</h1>

      <ul class="menu">
        <page v-for="page in pages" v-bind:pages="page"></page>
        <button id="show-modal" @click="showModal = true">New Page</button>
      </ul>

      <modal v-if="showModal" @close="showModal = false">
          <!--
          you can use custom content here to overwrite
          default content
        -->
        <h3 slot="header">custom header</h3>
      </modal>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
